@{
    ViewData["Title"] = "Acesso Negado";
}

<div class="card formContainer p-5">
    <h2 class="mb-4">Acesso Negado</h2>
    
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/auth.css">
}