@using BookSpot.UI.Services
@inject IAuthService AuthService
@{
    string foto = AuthService.GetUserFoto();
    foto = string.IsNullOrEmpty(foto) ? "http://localhost:5058/img/usuarios/no-photo.png" : foto;
}

@if (AuthService.IsAuthenticated())
{
    <div class="nav-item dropdown userDropdown">
        <a class="d-flex align-items-center text-decoration-none dropdown-toggle" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="@foto" width="40" class="me-2" />
            <div class="d-none d-md-block text-white">
                <div class="mb-0">@AuthService.GetUserName()</div>
                <small class="mt-0">@AuthService.GetUserPerfil()</small>
            </div>
        </a>
        <ul class="dropdown-menu" style="left: unset !important; right: 0 !important;">
            <li><a class="dropdown-item" href="#">Meu Perfil</a></li>
            @if (AuthService.GetUserPerfil() == "Administrador")
            {
                <li><a class="dropdown-item" asp-action="Index" asp-controller="Admin">Acessar Área Administrativa </a> </li>
                <li><a class="dropdown-item" asp-action="Index" asp-controller="Home">Acessar Área Publica</a></li>
            }
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Sair</a></li>
        </ul>
    </div>
}
else
{
    <div>
        <a class="btn btn-dark text-white px-3" asp-controller="Auth" asp-action="Login">Acesso</a>
    </div>
}

