@using BookSpot.UI.Services
@using BookSpot.UI.Services.Interfaces
@inject IAuthService AuthService
@{
    string foto = AuthService.GetUserFoto();
    foto = string.IsNullOrEmpty(foto) ? "http://localhost:5058/img/usuarios/no-photo.png" : foto;
}

@if (AuthService.IsAuthenticated())
{
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="@foto" width="40" /> 
        </a>
        <ul class="dropdown-menu" style="left: -100px">
            <li><a class="dropdown-item" href="#">Meu Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Sair</a></li>
        </ul>
    </div>
}
else
{
    <div>
        <a class="btn btn-dark text-white px-3" asp-controller="Auth" asp-action="Login">Acesso</a>
    </div>
}

